<%if user_signed_in? then %>
  <ul class='navbar-nav'>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.email%>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%if current_user.profile != nil then%>
          <li><%=link_to 'Profil', profile_path(id: current_user.profile.id), class:"dropdown-item" %></li>
        <%else%>
          <li><%=link_to 'Créer mon profil', new_profile_path, mehod: :get, class:"dropdown-item" %></li>
        <%end%>
        <li><%=link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
      </ul>
      <li class="nav-item">
          <%=link_to 'Panier', cart_path(current_user.cart.id), class:'nav-link'%>
          <% if @items_in_cart.count > 0 %> <!--Si il y a des articles dans mon panier-->
          <% total_items_in_cart = [] 
            @items_in_cart.each do |item|
            total_items_in_cart << item #on ajoute les items dans un tableau
            end %>
          <span class="badge badge-pill badge-info"><%= total_items_in_cart.inject(0){|sum,x| sum + x}%></span> <!--calcul de la somme des items dans le tableau-->
          <%else%>
          <span>0</span> <!--Si pas d'articles-->
          <%end%>
      </li>
    </li>
  </ul>
<%else%>
  <ul class='navbar-nav'>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        CONNEXION
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><%=link_to 'Se connecter', new_user_session_path, mehod: :get , class:"dropdown-item" %></li>
        <li><%=link_to 'Créer un compte', new_user_registration_path, mehod: :get, class:"dropdown-item" %></li>
      </ul>
    </li>
  </ul>
<%end%>
