<div class="d-flex flex-column">
<%@users.each do |user|%>
  <%= simple_form_for(user, url: user_path(id: user.id), html: { method: :put }) do |f| %>
    <div class="d-flex flex-row">
      <%=user.id%>
      <%= f.input :email%>
      <%= f.input :is_admin, collection: ([false, true]), prompt: "Select your age", selected: 21%>
      <%= f.button :submit, "Mettre à jour", class:"btn btn-primary btn-sm" %>
    </div>
  <%end%>
<%end%>
</div>