<div class="d-flex flex-column align-items-center bg-white" >
  <h2 class="m-5">ADMINISTRATION DU SITE</h2>
  <div class="d-flex flex-row justify-content-evenly" style='width:100%'>
    <%["UTILISATEUR","ITEMS",'CATÉGORIES','COMMANDES'].each do |current|%>
      <%= link_to "#{current}", pages_administration_path(panel: current), class:"btn btn-success category-link" %>
    <%end%>
  </div>
  <div class="d-flex">
    <%if params[:panel] == "UTILISATEUR"%>
      <%=render 'users/editlist'%>
    <%end%>
    <%if params[:panel] == "ITEMS"%>
      <%=render 'items/editlist'%>
    <%end%>
    <%if params[:panel] == "CATÉGORIES"%>
      <%=render 'categories/editlist'%>
    <%end%>
    <%if params[:panel] == "COMMANDES"%>
      <%=render 'orders/editlist'%>
    <%end%>
  </div>
</div>