<head>
<section class="jumbotron text-center text-secondary m-5">
        <div class="container">
          <h1 class="jumbotron-heading">Notre Chat-lenge</h1>
          <p class="lead text-white">Vous proposer une plateforme de photographies de petits chats tous mignons <br>
          L’intérêt est d’avoir une visibilité en ligne sur nos activités. <br>
          Nous sommes avant tout des passionnes et voici notre equipe :
          </p>
        </div>
</section>

</head>

<section class="row pt-5 px-5">
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Paul DuRAND</h5>
      <h6 class="card-subtitle mb-2 text-muted">Photographe</h6>
      <a href="https://fr.wikipedia.org/wiki/Paul_Durand-Ruel" target="_blank" class="btn btn-info my-3">Voir le wikipedia</a>
    </div>
  </div>
    <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Lucie MaRTIN</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://www.linkedin.com/in/lucie-martin-bb7b921b0/" target="_blank" class="btn btn-light my-3">Voir le Linkedin</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Paola AiCHOUR</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/Paolavuolo" target="_blank" class="btn btn-primary my-3">Voir le GitHub</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Louis LoREGERES</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/looping124" target="_blank" class="btn btn-danger my-3">Voir le GitHub</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Timothée GiMBERT</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/TimotheeGimbert" target="_blank" class="btn btn-success my-3">Voir le GitHub</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Xavier KiNDERF</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/FabCom" target="_blank" class="btn btn-warning my-3">Voir le GitHub</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Michael RaBARONE</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/Mika-rbr" target="_blank" class="btn btn-dark my-3">Voir le GitHub</a>
    </div>
  </div>
</section>