 <div class="container pt-5">
  <div class="row py-5">
    <div class="col-5 p-5 bg-dark text-center ">
      <%= image_tag @item.image_url %>
    </div>
    <div class="col-6 bg-info my-auto px-5 pt-5 mx-5">
      <h1 class="text-light text-center mb-3"> <%= @item.title %> </h1>
      <h4 class="mb-2 text-dark text-center"> <%= @item.price %> € </h4>
      <% if current_user %>
        <%= link_to "Ajouter au panier", cart_path(cart_id: current_user.cart.id), method: :post, class: "btn btn-outline-light my-5 w-100" %> <!--Modification de la route de redirection pour le bouton Ajouter au panier pour qu'il nous redirige sur le panier utilisateur (vérification du bouton dans la console Rails ! ca fonctionne-->
      <% else %>
        <%= link_to "Se connecter pour ajouter au panier", new_user_session_path, class: "btn btn-outline-light my-5 w-100" %>
      <% end %>

    </div>
    
  </div>

  <div class="row pb-5">
    <div class="col">
      <h2 class="my-4">Description de <i class="text-warning"> <%= @item.title %> </i> </h2>
      <p class="text-muted text-left"> <%= @item.description %> </p>
    </div>
  </div>

</div>