 <div class="container pt-5">
  <div class="row py-5">
    <div class="col-5 p-5 bg-dark text-center ">
      <%= image_tag @item.image_url %>
    </div>
    <div class="col-6 bg-info my-auto px-5 pt-5 mx-5">
      <h1 class="text-light text-center mb-3"> <%= @item.title %> </h1>
      <h4 class="mb-2 text-dark text-center"> <%= @item.price %> € </h4>
      <%= link_to "Ajouter au panier", item_path(item_id: @item.id), class: "btn btn-outline-light my-5 w-100" %>
    </div>
    
  </div>

  <div class="row pb-5">
    <div class="col">
      <h2 class="my-4">Description de <i class="text-warning"> <%= @item.title %> </i> </h2>
      <p class="text-muted text-left"> <%= @item.description %> </p>
    </div>
  </div>

</div>