 <div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-5 my-3 px-0 mx-5 text-center">
      <%if @item.item_picture.attached?%>
        <%= image_tag @item.item_picture, alt: 'cat_picture', class: "img-fluid"%>
      <%else%>
        <p>=== Il n'y a pas encore d'image de chat lié à cet item ===</p>
      <%end%>
    </div>
    <div class="col-5 bg-info my-3 px-5 pt-5 mx-5">
      <h1 class="text-light text-center mb-3"> <%= @item.title %> </h1>
      <h4 class="mb-2 text-dark text-center"> <%= @item.price %> € </h4>
      <% if current_user %>
        <%= link_to "Ajouter au panier", new_join_table_item_cart_path(cart_id: current_user.cart.id, item_id:  @item.id), method: :get, class: "btn btn-outline-light my-5 w-100" %>
        <% if current_user.is_admin === true %>
          <%= link_to "Supprimer définitivement", item_path(item_id: @item.id), method: :delete, class: "btn btn-outline-danger mb-5 w-100" %>
        <% end %>
      <% else %>
        <%= link_to "Se connecter pour ajouter au panier", new_user_session_path, class: "btn btn-outline-light my-5 w-100" %>
      <% end %>

    </div>
    
  </div>

  <div class="row pb-5">
    <div class="col">
      <h2 class="my-4">Description de <i class="text-warning"> <%= @item.title %> </i> </h2>
      <p class="text-muted text-left"> <%= @item.description %> </p>
    </div>
  <h3>Changer d'image de chat?</h3>
  <%= form_tag item_item_pictures_path(@item), multipart: true do %>
    <%= file_field_tag :item_picture %>
    <%= submit_tag "mettre à jour" %>
  <% end %>

</div>